.animate-parent-element {
    position: relative;
}

.animate-parent-element::before, .animate-parent-element::after {
    content: '';
    position: absolute;
    inset: -22px;
    background: linear-gradient(45deg, var(--gradientStart), var(--gradientMid1), var(--gradientMid2), var(--gradientMid3), var(--gradientEnd), var(--gradientStart));
    background-size: 400%;
    animation: steam 20s linear infinite;
    z-index: 0; /* behind .test */
    top: -3px;
    left: -3px;
    height: calc(100% + 7px);
    width: calc(100% + 7px);
    border-radius: 5px;
}

.animate-children-element {
    position: relative;
    z-index: 1;
    background: white;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
