@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
    /*you can also use these variables under @theme*/
    --header-height: 100px;
    --gradientStart: #fb0094;
    --gradientMid1: #0000ff;
    --gradientMid2: #00ff00;
    --gradientMid3: #ffff00;
    --gradientEnd: #75c3e4;
}

.gradient-text {
    @apply bg-gradient-to-r from-blue-600 to-cyan-400 bg-clip-text text-transparent;
}

.gradient-background {
    @apply bg-gradient-to-r from-blue-600 to-cyan-400;
}

.bg-light-gradient {
    background: #ffd4d4;
    background: linear-gradient(12deg, rgba(255, 212, 212, 1) 0%, rgba(109, 181, 232, 1) 55%);
}

.dark .bg-dark-gradient {
    background: #343236;
    background: linear-gradient(90deg, rgba(52, 50, 54, 1) 0%, rgba(17, 105, 168, 1) 50%, rgba(107, 128, 140, 1) 100%);
}
.dark {
    --color-midnight-light1: #23547a;
    --color-midnight-light2: #1d67a0;
}

@theme {
    --color-midnight: oklch(0.3065 0.0484 270.32);
    --color-midnight-light1: #1079F4FF;
    --color-midnight-light2: #71B5E3FF;
    --height-header: var(--header-height);
    --animate-background1: background-move1 ease infinite;
    --animate-border: gradient-xy 4s ease infinite;
    @keyframes background-move1 {
        0%,
        100% {
            background-position: 0 50%;
        }

        50% {
            background-position: 100% 50%;
        }
    }

    @keyframes gradient-xy {
        0% {
            background-position: 0 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0 50%;
        }
    }
}
